.ErrorPageMain {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  position: relative;
  max-height: 100%;
  background-color: black;
  &__Title {
    position: absolute;
    display: flex;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5%;
    text-align: center;
    height: 100%;
    color: lightGrey;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 0;
    width: 100%;
    color: lightGrey;
    font-weight: bold;
  }
}

.ErrorPageMain__content h2.errorCode {
  font-size: 6rem;
  position: relative;
  text-shadow: 20px 15px 100px #fff;
  -webkit-writing-mode: horizontal;
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb;

  -webkit-text-orientation: mixed;
  text-orientation: mixed;
}

.ErrorPageMain__content p {
  font-size: 2rem;
  margin-bottom: 5rem;
}
