/* Defines the layout and spacing for the overall form, setting a columnar direction and even distribution of child elements. */
.form__Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  order: 0;
  width: 100%;
  color: lightGrey;
  font-weight: bold;
  margin: auto;
  max-width: 70%;
  height: 100%;
}

/* Styles individual form groups, arranging child elements in a vertical column with space around each. */
.form__Container__Onboarding__Input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  position: relative;
}

/* Container for grouping elements related to personal or general information, laid out horizontally with space between elements. */
.form__Container__EmployeeInfos {
  order: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Applies to groups of employee-related input fields, organizing them in a vertical column with space between. */
.form__Container__EmployeeInfos__Employee__Article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px 10px 32px;
}

/* Styles the container specifically for employee-related information, adding background color, opacity, and spacing. */
.form__Container__EmployeeInfos__Employee {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  opacity: 1;
  width: 45%;
  padding: 20px;
  border: 1px solid lightGrey;
  border-radius: 10px;
}

/* Targets headings within the employee information container, setting a vertical writing mode and alignment. */
h2 {
  position: absolute;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  text-align: end;
  font-size: 0.8vw;
}

/* Container for contact information elements, styled similarly to the employee info container for consistency. */
.form__Container__EmployeeInfos__Adress {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  opacity: 1;
  width: 45%;
  padding: 20px;
  border: 1px solid lightGrey;
  border-radius: 10px;
}

/* Defines the layout for groups of contact-related input fields, arranging them vertically with space between. */
.form__Container__EmployeeInfos__Adress__Article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px 10px 32px;
}

/* Main container for onboarding-related information, styled for clear grouping of elements. */
.form__Container__Infos {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  padding: 20px;
  width: 100%;
  border: 1px solid lightGrey;
  border-radius: 10px;
}

/* Arranges onboarding-related elements within their group, spacing them evenly for a balanced layout. */
.form__Container__Onboarding {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 10px 10px 32px;
}

/* Special styling for individual form groups within the onboarding section, centering content and adding borders for emphasis. */
.form__Container__Onboarding .form__Container__Onboarding__Input {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
}

/* Styles the container for the form submission button, centering it horizontally. */
.form__Container__Button {
  display: flex;
  order: 2;
  box-sizing: border-box;
  justify-content: center;
  height: 3vw;
  width: 10vw;
  padding: 10px;
  overflow: visible;
  border-radius: 25px;
}

/* Customizes the appearance of the submit button, making it stand out with a distinct color and size. */
.submit_button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

  font-size: 1vw;
  background-color: grey;
  padding: 20px 40px;
  overflow: visible;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.submit_button:hover {
  background-color: white;
  color: black;
  transition: 0.2s ease-in-out;
  border-width: 0px 1px 1px 0px;
  box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.submit_button:active {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 1);
}

/* Provides visual feedback for errors by styling error messages in a prominent color and placement. */
.error_Message {
  display: flex;
  position: absolute;
  right: 0;
  bottom: -5%;
  justify-content: flex-end;
  color: rgb(181, 51, 18);
  text-decoration: underline;
  font-weight: 500;
  font-size: 1vw;
  padding: 5px 0 0 0;
}

/* Utility class to hide elements from view, useful for conditional rendering or error handling. */
.hidden {
  display: none;
}

/* Standardizes the styling for input fields across the form, ensuring consistency in appearance and layout. */
input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 1vw;
  height: 2vw !important;
  padding: 10px;
  margin-top: 0.2vw;
  border: 1px solid lightGrey;
}

/* Defines the presentation of labels across the form, setting font size and spacing for clear association with inputs. */
.form__Container__Onboarding__Input label {
  font-size: 0.8vw;
  margin-top: 0;
  height: 1vw !important;
}
