.nav {
  /* Styles the navigation bar with a flexible layout and center alignment */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: black;
}

.createLink.active {
  /* Styles the 'Create new Employee' link when it is active */
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: visible;
}

.showLink.active {
  /* Styles the 'View current Employees' link when it is active */
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: visible;
}

.errorLink,
.createLink {
  /* Styles for both the 'Return to Home' (error link) and 'Create new Employee' links */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  background-color: grey;
  text-align: center;
  padding: 20px;
  list-style: none;
  height: 90px;
  width: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  color: black;
  font-weight: 900;
}

.errorLink {
  /* Additional styles for the 'Return to Home' link */
  width: 100%;
  border-bottom-right-radius: 0;
  justify-content: center;
}

.showLink {
  /* Styles for the 'View current Employees' link */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  list-style: none;
  height: 90px;
  width: 50%;
  color: black;
  font-weight: 900;
  border-bottom-left-radius: 15px;
  overflow: visible;
  background-color: grey;
}
